{% extends 'layout.html' %}
{% block body %}
<div class="info-wrapper">
    <div class="info">
        <h1>Short Summaries</h1>
        <p>Put the Text In the given Box Below </p>
    </div>
    <div class="input-text">
        <form action="/summary" method="POST" enctype="multipart/form-data">
          <div class="text-area">
              <textarea name="inputText" id="" cols="60" rows="10">{{ fir }}</textarea>
          </div>
          
            <!-- Select file to upload:
            <input type="file" name="fileToUpload" id="fileToUpload">
            <input  value="Upload" name="submit" id="uploadimage"> -->
            <button class="generate" type="submit" onclick="generateOutput()">Generate Summary</button>
        </form>

    <div class="output-text">
        <p>{{ result }} </p>
    </div>
</div>

{% endblock %}
